// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "../../node_modules/react-alice-carousel/lib/scss/alice-carousel.scss";

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}


$grid-breakpoints: (
  sm: 320px,
  md: 768px,
  lg: 1280px,
  xl: 1920px,
);

$colors: (
    'white':  #FFFFFF, //bg 1, uline,
    'black':  #000000, //number, p-text, 
    'purple-01': #603EBE, //uline
    'purple-02': #5E3DB3, //block 03
    'purple-03': #5C3CAF, // dot active
    'light-purple-01': #8F6BE8, //text p2 r3
    'light-purple-02': #F5F4F9, //block 02
    'dark-purple':  #090C35, //block 04
    'gray-01':  #C2C2C2,
    'gray-02':  #E7E7E7, //h2
    'gray-03':  #979797, //border span uline p2 r1
    'gray-04':  #D8D8D8, // dot
);