@import "./assets/variables";

.flex   {display: flex;}

// sizing
.w-full  {width: 100%;}

// text
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: 0;
    text-align: left;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.5px;
    text-align: left;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
}
.span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: left;
}

hr {border-width: 3px;border-radius: 0.25rem;}
.bg-white   {background-color: map-get($map: $colors, $key: "white");}
.bg-purple-02 {background-color: map-get($map: $colors, $key: purple-02);}
.bg-light-purple-02 {background-color: map-get($map: $colors, $key: light-purple-02);}
.bg-dark-purple {background-color: map-get($map: $colors, $key: dark-purple);}

.text-white {color: map-get($map: $colors, $key: "white") !important;}
.text-black {color: map-get($map: $colors, $key: "black") !important;}
.text-gray-01 {color: map-get($map: $colors, $key: gray-01) !important;}
.text-gray-02 {color: map-get($map: $colors, $key: gray-02) !important;}
.text-light-purple-01 {color: map-get($map: $colors, $key: light-purple-01) !important;}
.hr-white {
    border: 3px solid map-get($map: $colors, $key: "white");
}
.hr-purple-01 {
    border: 3px solid map-get($map: $colors, $key: purple-01);
}

// spacing
.pt-16 {padding-top: 4rem;}
.pt-18 {padding-top: 4.5rem;}
.pb-4 {padding-bottom: 1rem;}
.pb-6 {padding-bottom: 1.5rem;}
.pl-4 {padding-left: 1rem;}
.pl-5 {padding-left: 0.625rem;}
.py-16 {padding-top: 4rem;padding-bottom: 4rem;}
.py-18 {padding-top: 4.5rem;padding-bottom: 4.5rem;}

.mt-12 {margin-top: 3rem;}
.mb-16 {margin-bottom: 4rem;}

.alice-carousel {
    margin-top: -2.75rem;
    
    &__wrapper {
      background-color: map-get($map: $colors, $key: light-purple-02) !important;
    }
  
    &__dots {
      position: relative;
      margin-top: -3rem;
  
      &-item {
        &:not(.__custom) {
          width: 10px;
          height: 10px;
          background-color: map-get($map: $colors, $key: gray-04);
        }
        &:not(.__custom):hover, &:not(.__custom).__active {
          background-color: map-get($map: $colors, $key: purple-03);
        }
        &:not(.__custom):not(:last-child) {
          margin-right: 12px;
        }
      }
    }
}

// div
.athlets {
    position: relative;

    .img-container {
        position: absolute;
        padding-top: 2.5rem;
        padding-left: 6rem;
    }

    .block1 {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        padding-left: 48%;
        padding-right: 2.5rem;

        h2 {padding-bottom: 2rem;}
    }
    .block2 {
        // padding-bottom: 3.5rem;
        padding-left: 48%;
        padding-right: 2.5rem;

    }
    .block3 {
        padding-left: 48%;
        padding-right: 2.5rem;

    }
}

.player {
    position: relative;

    .img-container {
        position: absolute;
        top: 0;
        padding-left: 5rem;
    }

    .block1 {
        padding-top: 3.5rem;
        padding-left: 2rem;

        h2 {padding-bottom: 2rem;}
    }
    .block2 {
        padding-left: 2rem;
    }
    .block3 {
        padding-bottom: 4rem;
        padding-left: 2rem;
    }
}


@media (min-width: map-get($map: $grid-breakpoints, $key: xl)) {
    .w-39-xl    {width: 39%;}
    .pb-4 {padding-bottom: 1.5rem;}
    .pb-16-xl   {padding-bottom: 4rem;}

    .athlets {
        .img-container {
            padding-top: 2.5rem;
            padding-left: 10rem;
            margin-right: 8rem;
        }

        .block1 {
            padding-top: 2rem;
            padding-bottom: 3.3rem;
            padding-left: 50%;
            padding-right: 16rem;
    
            h2 {padding-bottom: 4rem;}
        }
        .block2 {
            padding-left: 50%;
            padding-right: 16rem;
            padding-top: 3.3rem;
            padding-bottom: 3.3rem;
        }
        .block3 {
            padding-top: 5.5rem;
            padding-bottom: 5.5rem;
            padding-left: 50%;
            padding-right: 16rem;
        }
    }
    .player {
        .img-container {
            transform: translateX(60%) !important;
            padding-left: 8rem;
        }

        .block1 {
            padding-top: 8rem;
            padding-bottom: 3.5rem;
            padding-left: 20rem;

            h2 {padding-bottom: 4.5rem;}
        }
        .block2 {
            padding-top: 3rem;
            padding-bottom: 6rem;
            padding-left: 20rem;
        }
        .block3 {
            padding-top: 5.5rem;
            padding-left: 20rem;
        }
    }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) and (max-width: 1440px){
    .w-50-lg    {width: 50%;}
    .w-60-lg    {width: 60%;}
    .pb-8-lg    {padding-bottom: 2rem;}

    h2 {font-size: 84px;}
    p {font-size: 18px;}

    .athlets {
        .img-container {
            padding-top: 2rem;
            padding-left: 2rem;

            .img-lg {width: 520px;}
        }

        .block1 {
            padding-top: 1rem;
            padding-bottom: 2rem;
            padding-right: 6rem;

            h2 {padding-bottom: 2rem;}
        }
        .block2 {
            padding-top: 1.75rem;
            padding-bottom: 1.75rem;
            padding-right: 6rem;
        }
        .block3 {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
            padding-right: 6rem;
        }
    }

    .player {
        .img-container {
            right: 10px;
            padding-left: 0;
            padding-top: 0.35rem;

            .img-lg {width: 700px;}
        }
        .block1 {
            padding-top: 5rem;
            padding-bottom: 2rem;
            padding-left: 9rem;

            h2 {padding-bottom: 2rem;}
        }
        .block2 {
            padding-top: 2rem;
            padding-bottom: 2.5rem;
            padding-left: 9rem;

        }
        .block3 {
            padding-top: 2.5rem;
            padding-left: 9rem;
        }
    }
 }

@media (min-width: map-get($map: $grid-breakpoints, $key: md)) and (max-width: 1279px) {
    p { font-size: 18px; }
    .w-55-md    {width: 55%;}
    .w-50-md    {width: 50%;}
    .w-60-md    {width: 60%;}
    .pb-10-md   {padding-bottom: 2.5rem;}
    
    .athlets {
        .img-container {
            left: 0;
            padding-left: 0;
            padding-top: 5rem
        }

        .block1 {
            padding-top: 5rem;
            padding-left: 38%;
        }
        .block2 {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 38%;
        }
        .block3 {
            padding-top: 2.5rem;
            padding-bottom: 4rem;
            padding-left: 38%;
        }
    }
    .player {
        .img-container {
            transform: none;
            right: 0;
            margin-top: 2.5rem;
        }

        .block1 {
            padding-bottom: 1rem;

            h2 {padding-bottom: 2.5rem;}
        }
        .block2 {
            padding-top: 3.5rem;
            padding-bottom: 4rem;
        }
        .block3 {
            padding-top: 2.5rem;
        }
    }
}

@media (min-width: map-get($map: $grid-breakpoints, $key: sm)) and (max-width: 767px) {
    .w-70-sm    {width: 70%;}
    .w-75-sm    {width: 75%;}
    .pl-2-sm    {padding-left: 0.5rem;}
    .pl-3-sm    {padding-left: 0.75rem;}
    .px-6-sm    {padding-left: 1rem; padding-right: 1.5rem;}
    h2 {
        font-size: 50px;
        line-height: 59px !important;
    }
    h4 {
        font-size: 28px;
        line-height: 33px !important;
    }
    p {
        font-size: 15px;
        line-height: 18px !important;
    }
    .span {
        padding-top: 8px;
        font-size: 14px;
        line-height: 10px !important;
    }
    hr  {
        border-width: 2px !important;
    }

    .disp {
        display: none;
    }
    

    .athlets {
        .img-container {
            position: relative;
            transform: translateY(5%);
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            padding-top: 0;
            padding-left: 0;
            z-index: 999;
        }

        .alice-carousel {
            margin-top: -3rem;
            &__stage {
                min-height: 290px;
            }
        }
    }

    .player {
        .img-container {
            position: relative;
            transform: none;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            padding: 1rem;
            z-index: 999;
        }

        .alice-carousel {
            margin-top: -3rem;
            &__stage {
                min-height: 250px;
            }
        }
    }
}